body {
  position: relative;
  width: 1200px;
  background: #ffffff;
  margin: 0 auto;
}
/*header*/
header {
  position: fixed;
  z-index: 200;
}
.header-menu {
  position: absolute;
  width: 651px;
  height: 26px;
  left: 152px;
  top: 45px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project {
  width: 91px;
  height: 16px;
  left: 152px;
  top: 45px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.header-menu a {
  color: #ffffff;
}
.burger-bar {
  width: 22px;
  height: 13.24px;
  display: none;
}
.burger-bar-lines {
  position: absolute;
  width: 22px;
  height: 0px;
  border: 3px solid #ffffff;
}
.burger-bar-line-2 {
  width: 22px;
  height: 0px;
  margin-top: 9px;
  margin-bottom: 6.61px;
  border: 3px solid #ffffff;
}

.header-menu-nav {
  width: 395px;
  height: 22px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.header-menu-li {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.li-1 {
  position: absolute;
  left: 408px;
}

.li-2 {
  position: absolute;
  left: 521px;
}
.li-3 {
  position: absolute;
  left: 631px;
}
.li-4 {
  position: absolute;
  left: 730px;
}
/*section hero*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 1315px;
  height: 800px;
  background: url(../assets/desktop-animation/Frame-30.png);
  background-repeat: no-repeat;
  background-position: left;
}
.hero-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 426px;
  height: 292px;
  left: 387px;
  top: 252px;
}
.hero-block img {
  left: 0%;
  right: 0.01%;
  top: 0%;
  bottom: 0.01%;
}
.hero-block h2 {
  margin-top: 13px;
  margin-bottom: 42px;
  width: 386px;
  height: 118px;
  left: 407px;
  top: 328px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
}
.hero-block p {
  width: 426px;
  height: 56px;
  left: 387px;
  top: 488px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
/* main */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 1200px;
  height: 700px;
  left: 0px;
  top: 800px;
  background: #eeeeee;
}
.main h2 {
  width: 669px;
  height: 119px;
  left: 265px;
  top: 887px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
}
.main h4 {
  margin-top: 40px;
  width: 426px;
  height: 57px;
  left: 387px;
  top: 1046px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #666666;
}
.main-block {
  text-align: center;
  margin-top: 48px;
  margin-bottom: 21px;
  width: 983px;
  height: 194px;
  left: 97px;
  top: 1151px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  display: flex;
  justify-content: space-between;
}
.main-block-p-right {
  text-align: left;
  width: 45%;
  color: #666666;
}
.main-block-p-left {
  text-align: left;
  width: 45%;
  color: #666666;
}
.main-button {
  width: 115px;
  height: 36px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #55c2d8;
  border-radius: 18px;
  font-family: "Oswald Regular";
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  border-color: #55c2d8;
}

/* learn more */
.learn-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 1200px;
  height: 666px;
  left: 0px;
  top: 1500px;
  background-color: rgba(140, 79, 42, 0.3);
}
.learn-more-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 800px;
  left: 0px;
  top: 1372px;
  background: url(../assets/background-2.png);
}
.learn-more-block h2 {
  width: 480px;
  height: 117px;
  left: 360px;
  top: 1584px;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
}
.learn-more-button {
  margin-top: 53px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  font-size: 60px;
  color: #ffffff;
  align-items: center;
  background: #39c2d7;
  border-radius: 50%;
  border: 0;
}
.learn-more-block p {
  width: 390px;
  height: 102px;
  left: 395px;
  top: 1974px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}
/* footer */
footer {
  position: absolute;
  width: 1200px;
  height: 170px;
  left: 0px;
  top: 2166px;
  background: #464547;
}
.footer {
  text-align: center;
  margin-top: 39px;
  margin-left: 40px;
  margin-right: 40px;
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
}
.footer-logo img {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
.footer :nth-child(2) {
  text-align: left;
  grid-column: 3 / span 1;
  margin-bottom: 27px;
  width: 174px;
  height: 33px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}
.footer a {
  text-align: left;
  grid-column: 3 / span 1;
  grid-row: 2;
  margin-bottom: 27px;
  width: 142px;
  height: 22px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}
.footer :nth-child(4) {
  text-align: left;
  grid-column: 6 / span 2;
  grid-row: 2;
  margin-bottom: 27px;
  width: 243px;
  height: 20px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}
